<h1> Question </h1>

<h2><%= @question.title %></h2>
<p><%= @question.content %><p>

<!-- Only display if you have permissions -->
<%= button_to "Delete", {controller: :questions, action: 'destroy', id: @question.id}, method: :delete %>
<%= button_to "Edit", {controller: :questions, action: 'edit', id: @question.id}, method: :get %>