<div class="panel panel-default">
  <div class="panel-heading text-center"><h1>Users</h1></div>
    <div class="list-group">
      <ul>
      <% @users.each do |user| %>
        <li class="list-group-item"><p><%= link_to user.name, user %></p></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>