<h1><%= @user.name %>:</h1>
<ul>
  <!-- Only display if user is logged in -->
  <li>Email: <%= @user.email %></li>
  <li>Password: <%= @user.password %></li>
</ul>
<%= button_to "Delete", {controller: :users, action: 'destroy', id: @user.id}, method: :delete %>
