
<h3>A question and answer platform for your class/study group. Peer moderated and user friendly, you will find your answer here!</h3>
<%if @current_user == @user%>
  <h3><%=link_to "View Class List", groups_path %></h3>
<% end %>
