<h1> Raise Your Hand!!!!! </h1>
<h3>Welcome to Raise Your Hand, a question and answer platform for your class/study group. Peer moderated and user friendly, you will find your answer here!</h3>
<%if @current_user == @user%>
  <h3><%=link_to "View Study Groups", groups_path %></h3>
<% end %>