// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-name {
  text-align: right;
  font-weight: 800;
  font-size: 12px;
}